#head1{
    text-align: center;
    background-color: #a19a9a;
    color: #000000;
}

#para1{
    background-color: #0000ff;
    color: #ffffff;
}

#para2{
    background-color: #2e2eff;
    color: #ffffff;
}

#para3{
    background-color: #4242fd;
    color: #ffffff;
}

#para4{
    background-color: #5d5dfc;
    color: #ffffff;
}

#para5{
    color: #ffffff;
    background-color: #7676ff;
}

#para6{
    color: #ffffff;
    background-color: #9292ff;
}

#para7{
    color: #ffffff;
    background-color: #079407;
}

#para8{
    color: #ffffff;
    background-color: #ff78c2;
}

#para9{
    color: #ffffff;
    background-color: #ff5eb6 ;
}

#para10{
    color: #ffffff;
    background-color: #ff47ac ;
}

#para11{
    color: #ffffff;
    background-color: #fc34a2;
}

#para12{
    color: #ffffff;
    background-color: #fd1d98;
}

#para13{
    color: #ffffff;
    background-color: #ff008c;
}